---
- name: Install dependencies
  apt:
    name:
      - ca-certificates
      - curl
      - gnupg
      - lsb-release
    state: present
    update_cache: true

- name: Repertory creation for the Docker key
  file:
    path: /etc/apt/keyrings
    state: directory
    mode: '0755'

- name: Download the GPG Docker key
  get_url:
    url: https://download.docker.com/linux/debian/gpg
    dest: /etc/apt/keyrings/docker.gpg
    mode: '0644'

- name: Add the Docker repo
  apt_repository:
    repo: >
      deb [arch=amd64 signed-by=/etc/apt/keyrings/docker.gpg]
      https://download.docker.com/linux/debian
      bookworm stable
    state: present
    update_cache: true

- name: Install Docker
  apt:
    name: 
      - docker-ce
      - docker-ce-cli
      - containerd.io
      - docker-buildx-plugin
      - docker-compose-plugin
    state: present

- name: Activate and start Docker
  service:
    name: docker
    state: started
    enabled: true

- name: Add debian user to docker group
  ansible.builtin.user:
    name: debian
    groups: docker
    append: yes