---
# ---------------------------
#  OpenVPN Configuration
# ---------------------------

- name: "Creating the OpenVPN data directory"
  ansible.builtin.file:
    path: "{{ openvpn_data_dir }}"
    state: directory
    mode: '0755'

- name: "Creating the Lab Network Docker"
  community.docker.docker_network:
    name: "{{ lab_network.name }}"
    ipam_config:
      - subnet: "{{ lab_network.subnet }}"
        gateway: "{{ lab_network.gateway }}"

- name: "Initializing the OpenVPN configuration (if missing)"
  ansible.builtin.command: >
    docker run --rm
    -v {{ openvpn_data_dir }}:/etc/openvpn
    {{ openvpn_image }}
    ovpn_genconfig
    -u {{ openvpn_protocol }}://{{ openvpn_host }}:{{ openvpn_port }}
    -s 10.8.0.0/24
    -p "route {{ lab_network.subnet }}"
  args:
    creates: "{{ openvpn_data_dir }}/openvpn.conf"

- name: "Initializing the PKI EasyRSA (if missing)"
  ansible.builtin.command: >
    docker run --rm
    -v {{ openvpn_data_dir }}:/etc/openvpn
    -e EASYRSA_BATCH=1
    {{ openvpn_image }}
    ovpn_initpki nopass
  args:
    creates: "{{ openvpn_data_dir }}/pki/ca.crt"

- name: "Starting the OpenVPN container"
  community.docker.docker_container:
    name: "{{ openvpn_container_name }}"
    image: "{{ openvpn_image }}"
    state: started
    restart_policy: unless-stopped
    privileged: true
    ports:
      - "{{ openvpn_port }}:1194/{{ openvpn_protocol }}"
    capabilities:
      - NET_ADMIN
    sysctls:
      net.ipv4.ip_forward: "1"
      net.ipv4.conf.all.rp_filter: "0"
      net.ipv4.conf.default.rp_filter: "0"
    volumes:
      - "{{ openvpn_data_dir }}:/etc/openvpn"
    networks:
      - name: "{{ lab_network.name }}"
        ipv4_address: "{{ openvpn_lab_ip }}"

# ----------------------------------
#  Certificates Generation OpenVPN
# ----------------------------------

- name: "Create the storage folder for client .ovpn files"
  ansible.builtin.file:
    path: clients
    state: directory
    mode: '0755'
  become: yes

- name: "Read the list of customers from the text file"
  ansible.builtin.set_fact:
    vpn_clients: "{{ lookup('file', clients_file | default('clients.txt'))
                     .splitlines() 
                     | map('trim')
                     | reject('search', '^$')
                     | reject('search', '^#')
                     | select('match', '^[a-zA-Z0-9][a-zA-Z0-9_-]*$')
                     | list 
                     | unique }}"
  when: lookup('fileglob', clients_file | default('clients.txt')) != ''

- name: "Generate certificates and .ovpn files"
  when: vpn_clients is defined and vpn_clients | length > 0
  block:
    - name: "Certificate generation"
      ansible.builtin.command: >
        docker exec {{ openvpn_container_name }} 
        easyrsa build-client-full "{{ item }}" nopass
      args:
        creates: "{{ openvpn_data_dir }}/pki/issued/{{ item }}.crt"
      loop: "{{ vpn_clients }}"
      register: cert_gen

    - name: "Recovery of .ovpn content"
      ansible.builtin.command: >
        docker exec {{ openvpn_container_name }} 
        ovpn_getclient "{{ item }}"
      register: ovpn_contents
      changed_when: false
      loop: "{{ vpn_clients }}"

    - name: "Saving .ovpn files"
      ansible.builtin.copy:
        content: |
          {{ item.stdout }}
          disable-dco
        dest: "clients/{{ item.item }}.ovpn"
        mode: '0644'
      loop: "{{ ovpn_contents.results }}"
      loop_control:
        label: "{{ item.item }}"
      become: yes

# ---------
#  Routage
# ---------

- name: "[ROUTING] Routing to the VPN network via the OpenVPN container"
  ansible.builtin.command: >
    ip route replace 10.8.0.0/24 via {{ openvpn_lab_ip }}
  changed_when: false

- name: "[ROUTING] Enable IP forwarding"
  ansible.posix.sysctl:
    name: net.ipv4.ip_forward
    value: '1'
    state: present
    reload: yes

- name: "[ROUTING] Block VPN clients from accessing 172.16.10.1"
  ansible.builtin.command: >
    docker exec {{ openvpn_container_name }} sh -c "
      iptables -C FORWARD -s 10.8.0.0/24 -d 172.16.10.1 -j DROP 2>/dev/null ||
      iptables -I FORWARD 1 -s 10.8.0.0/24 -d 172.16.10.1 -j DROP;

      # iptables -C FORWARD -s 172.16.10.1 -d 10.8.0.0/24 -j DROP 2>/dev/null ||
      # iptables -I FORWARD 1 -s 172.16.10.1 -d 10.8.0.0/24 -j DROP;
    "
  changed_when: false

- name: "[ROUTING] Block VPN clients from accessing the OpenVPN container IP (INPUT)"
  ansible.builtin.command: >
    docker exec {{ openvpn_container_name }} sh -c "
      iptables -C INPUT -s 10.8.0.0/24 -d 172.16.10.2 -j DROP 2>/dev/null ||
      iptables -I INPUT 1 -s 10.8.0.0/24 -d 172.16.10.2 -j DROP;
    "
  changed_when: false


- name: "[ROUTING] Allow forward lab <-> VPN"
  ansible.builtin.command: >
    docker exec {{ openvpn_container_name }} sh -c "
      iptables -C FORWARD -s {{ lab_network.subnet }} -d 10.8.0.0/24 -j ACCEPT || 
      iptables -I FORWARD -s {{ lab_network.subnet }} -d 10.8.0.0/24 -j ACCEPT;
      iptables -C FORWARD -s 10.8.0.0/24 -d {{ lab_network.subnet }} -j ACCEPT || 
      iptables -I FORWARD -s 10.8.0.0/24 -d {{ lab_network.subnet }} -j ACCEPT;
    "
  changed_when: false